{% extends "Home/base.html" %}
{% block title %} Inicio {% endblock %}
{% load static %}
{% block content %}


<!--
  https://codepen.io/lefourbefromage/pen/qBbZWEJ
  https://codepen.io/alphardex/pen/ExjKZxP
  
-->

<div class="row">
  {% for msg in messages %}
   
        <div class="col-10 mx-2 alert alert-success" id="success-alert">
          <button type="button" class="close" data-dismiss="alert">x</button>
          <strong>{{msg}}</strong>
        </div>
     
    {% endfor %}  
  <header id="header-favoritos">
    <div class="texto-header">
      <h1>Favoritos</h1>
    </div>
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
        style="height: 100%; width: 100%;">
        <path d="M0.00,49.99 C229.91,158.39 311.51,-47.85 500.00,49.99 L500.00,150.00 L0.00,150.00 Z"
          style="stroke: none; fill: rgb(248 249 250);">
        </path>
      </svg>
    </div>
  </header>
  
  <!--Si hay favoritos lista los elementos -->
  {% if favoritos %}
  <table class="table">
    
    <tr>
      <th>Nombre</th>
      <th></th>
      <th>Valor</th>
    </tr>
<!--Listar los favoritos-->
    {% for item in favoritos %}
    <tr>
      <td id="{{item.id}}"><a href="/ListadoProductos/{{item.id_producto}}">{{item.name}}</a></td>
      <td></td>
      <td>
        <a href="/Favoritos/delete/{{item.id_producto}}">
          <!--<a href='/Favoritos/delete-favoritos/{{item.id}}/' class="remove" id="{{item.id_producto}}">-->
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
            viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8
              8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
            {{item.id_producto}}
          </svg>
        </a>
      </td>
    </tr>
    {% endfor %}
    <!--Si no hay favoritos -->
    {% else %}
    <p class="col-xs-12 m-5">No hay favoritos</p>
    {%endif%}
  </table>
</div>
</div>
<script>
  //Mostrar el mensaje 
  $(document).ready(function() {
    showAlert();
  function showAlert() {
    $("#success-alert").fadeTo(2000, 500).slideUp(500, function() {
      $("#success-alert").slideUp(500);
    });
  }
});
</script>
{% endblock %}