
{% extends "Home/base.html" %}
{% block title %} Inicio {% endblock %}
{% load static %}
{% block content %}
<div class="hero-full-wrapper">
  <div class="grid">
  <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>

    <div class="grid-item">

      <img class="img-responsive" alt="" src="{% static '/img/img-12.jpg'%}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>



    <div class="grid-item">
      <img class="img-responsive" alt="" src="{% static 'Home/img/salad12.webp'%}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>

    <div class="grid-item">
      <img class="img-responsive" alt="" src="{% static 'Home/img/img-13.jpg'%}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
    <div class="grid-item">
      <img class="img-responsive" alt="" src="{% static 'Home/img/img-04.jpg'%}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>

    <div class="grid-item">
      <img class="img-responsive" alt="" src="{% static 'Home/img/img-07.jpg'%}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>

    <div class="grid-item">
      <img class="img-responsive" alt="" src="{% static 'Home/img/img-11.jpg'%}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>

    <div class="grid-item">
      <img class="img-responsive" alt="" src="{% static 'Home/img/img-10.jpg'%}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
    <div class="grid-item">
      <img class="img-responsive" alt="" src="{% static 'Home/img/img-03.jpg'%}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
    <div class="grid-item">
      <img class="img-responsive" alt="" src="{% static 'Home/img/tosta.jpg'%}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Tostas sin gluten</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
    <div class="grid-item">
      <img class="img-responsive" alt="" src="{% static 'Home/img/salad3.webp'%}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Tostas sin gluten</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
    <div class="grid-item">
      <img class="img-responsive" alt="" src="{% static 'Home/img/salad3.webp'%}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Tostas sin gluten</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
    <div class="grid-item">
      <img class="img-responsive" alt="" src="{% static 'Home/img/salad3.webp'%}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Tostas sin gluten</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
    <div class="grid-item">
      <img class="img-responsive" alt="" src="{% static 'Home/img/salad3.webp'%}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Tostas sin gluten</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
    <div class="grid-item">
      <img class="img-responsive" alt="" src="{% static 'Home/img/salad3.webp'%}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Tostas sin gluten</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

{% endblock %}
