{% load static %}
<!doctype html>
<html lang="en">

<head>
	<title>Website menu 09</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- CSS only -->

	<link rel="stylesheet" href="{% static 'Home/css/alimento.css' %}">
	<link rel="stylesheet" href="{% static 'Home/css/home.css' %}">
	<link rel="stylesheet" href="{% static 'Home/css/recetas.css' %}">
	<link rel="stylesheet" href="{% static 'Home/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'Home/css/footer.css' %}">
	<link rel="stylesheet" href="{% static 'Home/css/productos.css' %}" >
	<link rel="stylesheet" href="{% static 'Home/css/favoritos.css' %}" >
	<link rel="stylesheet" href="{% static 'Home/css/lista.css' %}" >
	<link rel="stylesheet" href="{% static 'Home/css/blog.css' %}" >


	<title><img src="{% static 'Home/img/logo_mochika.svg'%}" alt="">Mochika</title>
	<link rel="shortcut icon" href="{% static 'Home/img/logo_mochika.svg'%}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>
	
	<script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>

	
</head>

 <!-- PLANTILLA DE LA WEB
	https://codepen.io/oliviale/pen/xxboXzo	
-->
<body>
	<div id="colorlib-page">
	<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
		
			
			<aside id="colorlib-aside" role="complementary" class="js-fullheight">
				
				<img id="logo" src="{% static 'Home/img/logo_mochika.svg'%}" alt="">
				<nav id="colorlib-main-menu" role="navigation">
					 <!-- Menu -->
					<ul  class="list-group">
						<li >
							<a href="{% url 'home' %}"
								class="{% if request.path == '' %} colorlib-active {% endif %}">Mochika</a></li>
						<li>
							<a href="{% url 'contacto' %}"
								class="{% if request.path == '/Contacto/events' %} colorlib-active {% endif %}">Contacto</a>
						</li>
						<li>
							<a href="{% url 'lista' %}"
								class="{% if request.path == '' %} colorlib-active {% endif %}">Productos</a>
						</li>
						<li>
							<a href="{% url 'recetas' %}"
							class="{% if request.path == '/Favoritos/' %} colorlib-active {% endif %}">Recetas</a>
						</li>
						{% if user.is_authenticated %}
						<li>
							<a href="{% url 'favoritos:favoritos' %}"
								class="{% if request.path == '/Favoritos/' %} colorlib-active {% endif %}">Favoritos</a>
						</li>
						{% else %}
						<li>
							<a href="#" id="off" style="color:#999; pointer-events:none; opacity:0.6;">Favoritos</a>
						</li>
						{% endif %}
					</ul>
					 <!-- Uuarios -->
					{%if user.is_authenticated%}
						<p>{{user.username}}</p>
						<a href="{% url 'cerrar_sesion' %}" title=""><i class="fa fa-user"></i> Cerrar sesion</a>
					{% else %}
						<a href="{% url 'autentificacion' %}" title=""><i class="fa fa-user"> Registrarse</i></a>
						<br>
						<a href="{% url 'login' %}" title=""><i class="fa fa-sign-in"></i> Login</a>
					{% endif %}
					<!--Redes sociales-->
					<p class="fl">
						<a class="fa-icon" href="https://www.instagram.com/" title="instagram">
							<i class="fa fa-instagram"></i>
						</a>
						<a class="fa-icon" href="https://twitter.com/" title="instagram">
							<i class="fa fa-twitter"></i>
						</a>
						<a class="fa-icon" href="https://twitter.com/" title="instagram">
							<i class="fa fa-twitter"></i>
						</a>
					</p>
				</nav>
			</aside> <!-- FIN COLORLIB-ASIDE -->

			<div id="colorlib-main">
				<section class="ftco-section pt-4 mb-5 ftco-intro">
					<div class="container-fluid px-3 px-md-0">
						{% block content %}
						 <!-- CONTENIDO DE LAS PAGINAS -->
						{% endblock %}
					</div>
				</section>
				
			</div><!-- FIN COLORLIB-PAGE -->
		</div>
	</div>
	
	<script src="{% static 'Home/js/popper.js' %}"></script>
	<script src="{% static 'Home/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'Home/js/jquery.min.js' %}"></script>
	
	<script src="{% static 'Home/js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'Home/js/infinite.min.js' %}"></script>
	<script src="{% static 'Home/js/main.js' %}"></script>


</body>

</html>