{% extends "Home/base.html" %}
{% block title %} Inicio {% endblock %}
{% load static %}
{% block content %}

            

            <div class="row">
                <div class="col-md-6 col-lg-4">	
                    <div class="container">
                        <img src="{% static 'Home/img/img-01-cuadrado.jpg'%}" alt="Avatar" class="imagen image img_fluid img-thumbnail">
                        <div class="overlay">
                          <a href ="#"class="text">yogur con frutas</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-4">
                    <div class="container">
                        <img src="{% static 'Home/img/img-02-cuadrado.jpg'%}" alt="Avatar" class="imagen image img_fluid img-thumbnail">
                        <div class="overlay">
                          <a href ="#"class="text">yogur con frutas</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-4">
                    <div class="container">
                        <img src="{% static 'Home/img/img-03-cuadrado.jpg'%}" alt="Avatar" class="imagen image img_fluid img-thumbnail">
                        <div class="overlay">
                          <a href ="#"class="text">yogur con frutas</a>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-6 col-lg-4">
                    <div class="container">
                        <img src="{% static 'Home/img/img-04-cuadrado.jpg'%}" alt="Avatar" class="imagen image img_fluid img-thumbnail">
                        <div class="overlay">
                          <a href ="#"class="text">yogur con frutas</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-4">
                    <div class="container">
                        <img src="{% static 'Home/img/img-04-cuadrado.jpg'%}" alt="Avatar" class="imagen image img_fluid img-thumbnail">
                        <div class="overlay">
                          <a href ="#"class="text">yogur con frutas</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-4">
                    <div class="container">
                        <img src="{% static 'Home/img/img-05-cuadrado.jpg'%}" alt="Avatar" class="imagen image img_fluid img-thumbnail">
                        <div class="overlay">
                          <a href ="#"class="text">yogur con frutas</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-4">
                    <div class="container">
                        <img src="{% static 'Home/img/img-07-cuadrado.jpg'%}" alt="Avatar" class="imagen image img_fluid img-thumbnail">
                        <div class="overlay">
                          <a href ="#"class="text">yogur con frutas</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="container">
                        <img src="{% static 'Home/img/img-11-cuadrado.jpg'%}" alt="Avatar" class="imagen image img_fluid img-thumbnail">
                        <div class="overlay">
                          <a href ="#"class="text">yogur con frutas</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="container">
                        <img src="{% static 'Home/img/img-12-cuadrado.jpg'%}" alt="Avatar" class="imagen image img_fluid img-thumbnail">
                        <div class="overlay">
                          <a href ="#"class="text">yogur con frutas</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="container">
                        <img src="{% static 'Home/img/img-10-cuadrado.jpg'%}" alt="Avatar" class="imagen image img_fluid img-thumbnail">
                        <div class="overlay">
                          <a href ="#"class="text">yogur con frutas</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
</div><!-- END COLORLIB-MAIN -->
{% endblock %}