
  #header-contacto{
    width: 100%;
    height: 600px;
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(210, 3%, 26%, 0.568), hsla(101, 28%, 74%, 0.525)), url('/static/Home/img/backNEgro.jpg');
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(210, 3%, 26%, 0.584), hsla(200, 28%, 44%, 0.545)), url('/static/Home/img/backNegro.jpg');
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    position: relative;
  }