#logo{
    width: 50%;
    height: auto;
    max-width: 120px;
}
#estrella {
    width: 40px;
    height: 40px;
}

.container {
    position: relative;
}

.fl {
    display: flex;
}

.fl i {
    padding: 5px;
}

.logo {
    width: 300px;
}

.nav-footer {
    width: 20px;
}

.imagen {
    margin-top: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay {
    opacity: 0.7;
}



#blanco {
    margin: 0 auto;
    height: 50px;
    background-color: white;
}

#map {
      height: 100%;
}