

  {% extends "Home/base.html" %}
  {% block title %} Inicio {% endblock %}
  {% load static %}
  {% block content %}
  <!--style alimento.css-->

   <!--Aviso actualizacion alimento -->
   
<!-- Cabecera-->
<header id="header-receta">
  <div id="alert" class="col-xs-8  fixed-top alert alert-success " role="alert">
    <strong>Se actualizo el elemento</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="save" class="col-xs-8 fixed-top alert alert-success alert-dismissible" role="alert">
    <strong>Se guardo el elemento en favoritos</strong>
    
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="texto-header">
  <h1>{{ listado.name }}</h1>
  </div>
  <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.99 C229.91,158.39 311.51,-47.85 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(248 249 250);">
        </path></svg>
  </div>
  {% if user.is_authenticated %}
    {% if favoritos %}
    <div id="check">
        <a href="{% url 'favoritos:favoritos' %}"><img id="estrella" class="img-responsive fa-icon" alt="favorito" src="{% static 'Home/img/cheque.png'%}" loading="lazy"></a></h1>
    </div>
    {% endif %}
  {% endif %}
</header>
  <!-- Tabla -->
<table id="container-tabla" class="container ">
  <thead>
    <tr>
      <th>
        <h1>Nombre</h1>
      </th>
      <th>
        <h1>Bajo</h1>
      </th>
      <th>
        <h1>Medio</h1>
      </th>
      <th>
        <h1>alto</h1>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>fructosa</td>
      <td class="{{listado.fructosa}}"></td>
      <td class="{{listado.fructosaAmarillo}}"></td>
      <td class="{{listado.fructosaRojo}}"></td>
    </tr>
    <tr>
      <td>lactosa</td>
      <td class="{{listado.lactosa}}"></td>
      <td class="{{listado.lactosaAmarillo}}"></td>
      <td class="{{listado.lactosaRojo}}"></td>
    </tr>
    <tr>
      <td>sorbitol</td>
      <td class="{{listado.sorbitol}}"></td>
      <td class="{{listado.sorbitolAmarillo}}"></td>
      <td class="{{listado.sorbitolRojo}}"></td>
    </tr>
    <tr>
      <td>manitol</td>
      <td class="{{listado.manitol}}"></td>
      <td class="{{listado.manitolAmarillo}}"></td>
      <td class="{{listado.manitolRojo}}"></td>
    </tr>
    <tr>
      <td>GOS</td>
      <td class="{{listado.gos}}"></td>
      <td class="{{listado.gosAmarillo}}"></td>
      <td class="{{listado.gosRojo}}"></td>
    <tr>
      <td>fructano</td>
      <td class="{{listado.fructano}}"></td>
      <td class="{{listado.fructanoAmarillo}}"></td>
      <td class="{{listado.fructanoRojo}}"></td>
    </tr>
    <tr>
      <td>gr</td>
      <td> {{listado.gr}}</td>
      <td> {{listado.grAmarillo}}</td>
      <td> {{listado.grRojo}}</td>
    </tr>
  </tbody>
</table>
   <!-- Imagen con los avisos -->
  <div class="row g-0 bg-light position-relative my-4">
      <img class="rounded col-md-10 col-lg-6 d-md-block" alt="Imagen alimento" src="{{listado.thumbnail.url}}" loading="lazy">
    
    <div class="col-xs-12 col-md-10 col-lg-6 p-md-4">
      <h5 class="mt-0">No permitido</h5>
      <p>{{listado.commentRojo}} </p>
      
      <h5 class="mt-0">Alerta</h5>
      <p>{{listado.commentAmarillo}}</p>
  
      <h5 class="mt-0">Precaucion</h5>
      <p>{{listado.commentAmarillo}} </p>
      
    </div>
  </div>
  <!-- Si el usuario esta registrado puede guardar notas y valorar el alimento -->
  
  {% if user.is_authenticated %}
<div class="row col-md-6 mx-auto my-4">
  <div class="row m-auto">
      <!-- Seleccionar la cara -->
    {% if favoritos.valor == 1 %}
      <div class="col">
        <a><img id="mareado"  class="iconos-face" src="{% static 'Home/img/face/005-mareado-1.ico'%}" alt="icono-mareado" loading="lazy"/></a>
        <a><img id="aburrido"  class="iconos-face" src="{% static 'Home/img/face/001-aburrido.png'%}" alt="icono-aburrido" loading="lazy"/></a>
        <a><img id="sonreir"  class="iconos-face" src="{% static 'Home/img/face/003-sonreir.png'%}" alt="icono-sonreir" loading="lazy"/></a>
      </div>    
    {% endif %}
    {% if favoritos.valor == 2 %}
    <div class="col">
      <a><img id="mareado" class="iconos-face" src="{% static 'Home/img/face/002-mareado.png'%}" alt="icono-mareado" loading="lazy"/></a>
      <a><img id="aburrido" class="iconos-face" src="{% static 'Home/img/face/006-aburrido-6.png'%}" alt="icono-aburrido" loading="lazy"/></a>
      <a><img id="sonreir" class="iconos-face" src="{% static 'Home/img/face/003-sonreir.png'%}" alt="icono-sonreir" loading="lazy"/></a>
    </div>
    {% endif %}
    {% if favoritos.valor == 3 %}
    <div class="col">
      <a><img id="mareado"  class="iconos-face" src="{% static 'Home/img/face/002-mareado.png'%}" alt="icono-mareado" loading="lazy"/></a>
      <a><img id="aburrido"  class="iconos-face" src="{% static 'Home/img/face/001-aburrido.png'%}" alt="icono-aburrido" loading="lazy"/></a>
      <a><img id="sonreir"  class="iconos-face" src="{% static 'Home/img/face/004-sonrer-4.png'%}" alt="icono-sonreir" loading="lazy"/></a>
    </div>
    {% endif %}
    {% if favoritos.valor != 1 and favoritos.valor != 2 and favoritos.valor !=  3%}
      <a><img id="mareado"  class="iconos-face" src="{% static 'Home/img/face/002-mareado.png'%}" alt="icono-mareado" loading="lazy"/></a>
      <a><img id="aburrido" class="iconos-face" src="{% static 'Home/img/face/001-aburrido.png'%}" alt="icono-aburrido" loading="lazy"/></a>
      <a><img id="sonreir"  class="iconos-face" src="{% static 'Home/img/face/003-sonreir.png'%}" alt="icono-sonreir" loading="lazy"/></a>
    {% endif %}
  </div>
</div>
 <!-- 
      Dejar comentario 
      Se envian datos ocultos para indentificar el alimento en servidor
-->
<table id="form_favoritos" action="" class="table">
  <tbody>
    <input type="hidden" id="id_producto" name="id_producto" value="{{ listado.id }}">
    <input type="hidden" id="name" name="name" value="{{ listado.name }}">
    <tr  class="row justify-content-md-center mx-5">
      <textarea class="form-control col-xs-12 col-md-9 m-md-auto" placeholder="Deja una nota..." name="comment" id="comment_favoritos">
        {{favoritos.comment}}
      </textarea>
    </tr>
  </tbody>
</table>
<div class="row col-md-6 mx-auto">
  <button id="sub_upd" class="btn btn-outline-primary m-auto " type="button">Actualizar</button>
</div>
 <!-- Boton enviar -->
{% if favoritos %}
  <div class="row col-md-6 mx-auto">
    <button id="sub_update" class="btn btn-outline-primary m-auto " type="button">Actualizar</button>
  </div>
{% else %}
<div class="row col-md-6 mx-auto">
  <button id="sub" class="btn btn-outline-primary m-auto " type="button">Guardar</button>
</div>
{% endif %}
{% endif %}
<script>
// Cambiar color a las caras 
    let aburrido =  document.getElementById("aburrido");
    let mareado =  document.getElementById("mareado");
    let sonreir =  document.getElementById("sonreir");
    var num = 0;

// al hacer click se cambia la imagen
    aburrido.onclick = function(e){
      if(event.target.src.substr(-5) !== '6.png' && event.target.id == 'aburrido'){
        aburrido.setAttribute('src', "{% static 'Home/img/face/006-aburrido-6.png'%}");
        mareado.setAttribute('src', "{% static 'Home/img/face/002-mareado.png'%}");
        sonreir.setAttribute('src', "{% static 'Home/img/face/003-sonreir.png'%}");
        num = 2
      }else{
        aburrido.setAttribute('src', "{% static 'Home/img/face/001-aburrido.png'%}");
      num = 0
      }
      console.log(event.target.src.substr(-5));
      console.log(num)
    }   
    mareado.onclick = function(e){
  //Mareado
      if(event.target.src.substr(-5) !== '5.png' && event.target.id == 'mareado'){
         mareado.setAttribute('src', "{% static 'Home/img/face/005-mareado-5.png'%}");
         sonreir.setAttribute('src', "{% static 'Home/img/face/003-sonreir.png'%}");
         aburrido.setAttribute('src', "{% static 'Home/img/face/001-aburrido.png'%}");
          num = 1
       }else{
         mareado.setAttribute('src', "{% static 'Home/img/face/002-mareado.png'%}");
        num = 0
       }
       console.log(num)
    }

    sonreir.onclick = function(e){
  //Sonreir
      if(event.target.src.substr(-5) !== '4.png' && event.target.id == 'sonreir'){
         sonreir.setAttribute('src', "{% static 'Home/img/face/004-sonrer-4.png'%}");
         mareado.setAttribute('src', "{% static 'Home/img/face/002-mareado.png'%}");
         aburrido.setAttribute('src', "{% static 'Home/img/face/001-aburrido.png'%}");
          num = 3
       }else{
         sonreir.setAttribute('src', "{% static 'Home/img/face/003-sonreir.png'%}");
        num = 0
       }
       console.log(num)
      }
      
  //Guardar el alimento en la tabla Favoritos
    $("#sub").click(function(e){
        e.preventDefault();
        console.log('submit')
      let id_producto = $('input[name="id_producto"]').val().trim();
      let name = $('input[name="name"]').val().trim();
      let valor = num;
      let comment = $('#comment_favoritos').val().trim();
    
  //Peticion 
        $.ajax({
            url: '/Favoritos/create-favoritos/',
            data: {
                'id_producto': id_producto,
                'name': name,
                'valor': valor,
                'comment': comment
            },
            dataType: 'json',
            success: function (data) {
              //muestra el mensaje
              $('#sub').hide();
              $('#sub_upd').show()
              
              $('#save').fadeIn();     
                setTimeout(function() {
                $("#save").fadeOut();           
                },2000); 
            }
        });
  });
  //Actualizar el alimento en la tabla Favoritos
  $("#sub_update").click(function(e){
         e.preventDefault();
         console.log('submit')
       let id_producto = $('input[name="id_producto"]').val().trim();
       let valor = num;
       let comment = $('#comment_favoritos').val().trim();
  //Peticion 
         $.ajax({
             url: '/Favoritos/update-favoritos/',
             data: {
                 'id_producto': id_producto,
                 'valor': valor,
                 'comment': comment
             },
             dataType: 'json',
             success: function (data) {
              //muestra el mensaje success
              $('#sub').show();
              $('#sub_upd').hide()

              $('#alert').fadeIn();     
                setTimeout(function() {
                $("#alert").fadeOut();           
                },2000); 
             }
         });
   });
  </script> 
{% endblock %}