

  {% extends "Home/base.html" %}
  {% block title %} Inicio {% endblock %}
  {% load static %}
  {% block content %}
  
  <div class="row">
    <div class="col-xs-12 section-container-spacer">
      <h1>{{ listado.name }} <img id="estrella" class="img-responsive fa-icon" alt="dew" src="{% static 'Home/img/estrella.png'%}"></h1> 
    </div>
  
  
  <table class="table col-xs-12">
       <thead>
      <tr >
        <th scope="col" class="opcion">Nivel</th>
        <th scope="col" class="opcion">Fructosa</th>
        <th scope="col" class="opcion">Lactosa</th>
        <th scope="col" class="opcion">Sorbitol</th>
        <th scope="col" class="opcion">Manitol</th>
        <th scope="col" class="opcion">GOS</th>
        <th scope="col" class="opcion">Fructano</th>
        <th scope="col" class="opcion">gr</th>
      </tr>
      
      <tr>
        <th scope="col" class="opcion2"></th>
        <th scope="col" class="opcion2">Fru</th>
        <th scope="col" class="opcion2">Lac</th>
        <th scope="col" class="opcion2">Sor</th>
        <th scope="col" class="opcion2">Man</th>
        <th scope="col" class="opcion2">GOS</th>
        <th scope="col" class="opcion2">Ftn</th>
        <th scope="col" class="opcion2">gr</th>
      </tr>
    </thead>
  
  
  
    <tbody id="box">
        <tr>
            <td >Bajo</td>
            <td class="{{listado.fructosa }}" ></td>
            <td class="{{listado.lactosa}}"></td>
            <td class="{{listado.manitol}}"></td>
            <td class="{{listado.sorbitol}}"></td>
            <td class="{{listado.gos}}"></td>
            <td class="{{listado.fructano}}"></td>
            
            <td>{{listado.gr}}</td>
        </tr>
        <!-- Dependiendo si existe apartado lo muestra o no en la tabla -->
        {% if listado.grAmarillo != 'false' %}
            {% if listado.grAmarillo != 'False' %}
          <tr>
            <td >Medio</td>
            <td class="{{listado.fructosaAmarillo }}" ></td>
            <td class="{{listado.lactosaAmarillo}}"></td>
            <td class="{{listado.manitolAmarillo}}"></td>
            <td class="{{listado.sorbitolAmarillo}}"></td>
            <td class="{{listado.gosAmarillo}}"></td>
            <td class="{{listado.fructanoAmarillo}}"></td>
            
            <td>{{listado.grAmarillo}}</td>
        </tr>
            {% endif %}
        {% endif %}
        {% if listado.grRojo != 'false' %}
            {% if listado.grRojo != 'False' %}
          <tr>
            <td>Alto</td>
            <td class="{{listado.fructosaRojo }}" ></td>
            <td class="{{listado.lactosaRojo}}"></td>
            <td class="{{listado.manitolRojo}}"></td>
            <td class="{{listado.sorbitolRojo}}"></td>
            <td class="{{listado.gosRojo}}"></td>
            <td class="{{listado.fructanoRojo}}"></td>
            <td>{{listado.grRojo}}</td>
        </tr>
            {% endif %}
        {% endif %}
    </tbody>
  </table>
  

  <div class="col-xs-12 col-md-6">
    <img class="img-responsive" alt="dew" src="{% static 'Home/img/arroz.jpeg'%}">
  </div>
  <!-- Comentarios -->
  <div class="col-md-6">
    
    <h3>Permitido </h3>
    <p> {{listado.comment}}</p>
    <h3>Precaucion</h3>
    <p> {{listado.commentAmarillo}}</p>
    <h3>No permitido</h3>
    <p> {{listado.commentRojo}}</p>
    <!-- Apunte sobre el producto -->
    <div class="form-group">
      <textarea class="form-control" rows="3" placeholder="Enter your message"></textarea>
    </div>
 </div>
</div>
<script>
  let estrella =  document.getElementById("estrella");
  let favorito = false;
   estrella.onclick = function(event){
     //event.attr("src", "{% static 'Home/img/estrella_relleno.png'%}")
     if(!favorito){
       estrella.setAttribute('src', "{% static 'Home/img/estrella_relleno.png' %}");
       favorito = true;
       prompt("hola")
     }else{
       estrella.setAttribute('src', "{% static 'Home/img/estrella.png' %}");
       favorito = false;
     }
     
 }
 </script>   
  {% endblock %}
  