<style>
  .opcion{
    display: none;
  }
  .opcion2{
    width: 50px;
    margin-left: 10px; 
     height: 10px;
     margin: 30px; 
    display: table-cell;

  }
  .verde {
    width: 10px; 
     height: 10px; 
     background: #14e09ce3;
     border: 5px solid #fff;
}
.rojo {
    width: 10px; 
     height: 10px; 
     background: #e01414e3;
     border: 5px solid #fff;
}
.amarillo {
    width: 10px; 
     height: 10px; 
     background: #d6e411e3;
     border: 5px solid #fff;
}
@media only screen and (min-width: 600px) {
 .opcion{
  display: table-cell;
 }
 .opcion2{
  display: none;
 }
}
@media only screen and (min-width: 768px) {
  .opcion{
    display: table-cell;
  }
}
</style>
{% extends "Home/base.html" %}
{% block title %} Listado de productos {% endblock %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-xs-12 section-container-spacer">
    
    <h1>Listado Productos</h1>
    <input id="search" class="form-control mb-3" placeholder="alimento">
    
  </div>


<table class="table">
     <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col" class="opcion">Fructosa</th>
      <th scope="col" class="opcion">Lactosa</th>
      <th scope="col" class="opcion">Sorbitol</th>
      <th scope="col" class="opcion">Manitol</th>
      <th scope="col" class="opcion">GOS</th>
      <th scope="col" class="opcion">Fructano</th>
      <th scope="col" class="opcion2"></th>
      <th scope="col" class="opcion">gr</th>
      
      
    </tr>
  </thead>



  <tbody id="box">

  </tbody>
</table>
<script>
  const data = '{{qs_json}}'
  //console.log(data)

  const rdata = JSON.parse(data.replace(/&quot;/g, '"'))
  //console.log(rdata)

  const input = document.getElementById("search")
  //console.log(input)

  let filteredArr = []

  input.addEventListener('keyup', (e)=>{
    box.innerHTML = "";
    filteredArr = rdata.filter(info => info['name'].includes(e.target.value))
    console.log(filteredArr)

    if(filteredArr.length> 0 ){
      filteredArr.map(info=>{
        let color = "verde";
        let fructosa = info['fructosa'];
        let lactosa = info['lactosa'];
        let manitol = info['manitol'];
        let sorbitol = info['sorbitol'];
        let gos = info['gos'];
        let fructano = info['fructano'];
        let arr = [fructosa, lactosa, manitol, sorbitol, gos, gos, fructano]
        
        
          arr.forEach(element => {
          if(element[0] === 'amarillo' && color === 'verde'){
            color =  "amarillo";
          }
          if(element[0] === 'rojo'){
            color =  "rojo";
          }
          });
       //console.log(fructosa);
        box.innerHTML += ` 
        <tr>
          <td id="name"><a href="${info['id']}">${info['name']}</a></td>
          <td class="${info['fructosa']} opcion" ></td>
          <td class="${info['lactosa']} opcion"></td>
          <td class="${info['manitol']} opcion"></td>
          <td class="${info['sorbitol']} opcion"></td>
          <td class="${info['gos']} opcion"></td>
          <td class="${info['fructano']} opcion"></td>
          <td class="opcion">${info['gr']} </td>
          <td class="${color} opcion2"> </td>
        </tr>`
      })
    }else{
      box.innerHTML += `<br>No hay resultados</b></br>`
    }
  })
</script>
{% endblock %}
