
{% extends "Home/base.html" %}
{% block title %} Listado de productos {% endblock %}
{% load static %}
{% block content %}
  <!--style lista.css-->
  <div class="row">
    <header>
      <div class="texto-header">
      <h1>Alimentos</h1>
      </div>
              <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                  <path d="M0.00,49.99 C229.91,158.39 311.51,-47.85 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(248 249 250);">
                   </path></svg>
              </div>
      </header>
  <div class="col-xs-12 section-container-spacer">
     <!-- Buscador de alimentos -->
    
    <div class="search__container">
      <input id="search" class="search__input m-3 col-xs-12" type="text" placeholder="alimento">
      
  </div>
  </div>
   <!-- tabla de los productos -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col" class="opcion">Fructosa</th>
        <th scope="col" class="opcion">Lactosa</th>
        <th scope="col" class="opcion">Sorbitol</th>
        <th scope="col" class="opcion">Manitol</th>
        <th scope="col" class="opcion">GOS</th>
        <th scope="col" class="opcion">Fructano</th>
        <th scope="col" class="opcion2"></th>
        <th scope="col" class="opcion">gr</th>
      </tr>
    </thead>
    
    <!-- Carga contenido de la tabla -->
    <tbody id="box">
    </tbody>
  </table>
  <script>
    const data = '{{qs_json}}'
    const rdata = JSON.parse(data.replace(/&quot;/g, '"'))
    const input = document.getElementById("search")
    let filteredArr = []

    input.addEventListener('keyup', (e) => {
      box.innerHTML = "";
      filteredArr = rdata.filter(info => info['name'].includes((e.target.value).toLowerCase()))

      if (filteredArr.length > 0) {
        filteredArr.map(info => {
          let color = "verde";
          let fructosa = info['fructosa'];
          let lactosa = info['lactosa'];
          let manitol = info['manitol'];
          let sorbitol = info['sorbitol'];
          let gos = info['gos'];
          let fructano = info['fructano'];
          let arr = [fructosa, lactosa, manitol, sorbitol, gos, gos, fructano]

          //Dibujar las celdas de colores
          arr.forEach(element => {
            if (element[0] === 'amarillo' && color === 'verde') {
              color = "amarillo";
            }
            if (element[0] === 'rojo') {
              color = "rojo";
            }
          });
          //Añadir los productos a la tabla
          box.innerHTML += ` 
        <tr>
          <td id="name"><a href="${info['id']}">${info['name']}</a></td>
          <td class="${info['fructosa']}-table opcion" ></td>
          <td class="${info['lactosa']}-table opcion"></td>
          <td class="${info['manitol']}-table opcion"></td>
          <td class="${info['sorbitol']}-table opcion"></td>
          <td class="${info['gos']}-table opcion"></td>
          <td class="${info['fructano']}-table opcion"></td>
          <td class="opcion">${info['gr']} </td>
          <td class="${color}-table opcion2"> </td>
        </tr>`
        })
      } else {
        box.innerHTML += `<br>No hay resultados</b></br>`
      }
    })
  </script>
  {% endblock %}