
{% extends "Home/base.html" %}
{% block title %} Inicio {% endblock %}
{% load static %}
{% block content %}
  <!--style blog.css-->
  <section>
    <div class="col-xs-12 col-md-12 section-container-spacer">
      <div class="dropdown">
        
        <div class="dropdown show">
          
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categorias
          </a>
          
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#"></a>
            {% for categoria in categorias %}
              <a class="dropdown-item" href="{% url 'categoria' categoria.id %}">{{categoria.name}}</a>
            {%endfor%}
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="row">
 
  {% for post in posts %}
  <div class="col-md-6 col-lg-4">
    <div class="container">
      <img src="{{post.thumbnail.url}}" alt="Avatar" class="imagen image img_fluid img-thumbnail">
      <div class="overlay">
        <a href="{% url 'receta' post.id %}" class="text">{{post.name}}</a>
      </div>
    </div>
  </div>
 
  {% endfor %}
</div>
<script>
  $(document).ready(function(){
  $('.dropdown-toggle').click(function(){
    console.log("sfalkñjfkasjfña")
  })
  });

</script>
{% endblock %}
