
{% extends "Home/base.html" %}
{% load crispy_forms_tags%}
{% block title %} Inicio {% endblock %}
{% load static %}
{% block content %}
<!--style blog.css-->
<style>
  #descarga{
    cursor: pointer;
  }
</style>
<header id="header-receta">
  <div class="texto-header">
  <h1>{{post.name}}</h1>
  </div>
          <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
              <path d="M0.00,49.99 C229.91,158.39 311.51,-47.85 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(248 249 250);">
               </path></svg>
          </div>
  </header>
<main>
  
  <div class="container-receta">
    <div class="card">
      <img src="{% static 'Home/img/recetas/tiempo.png'%}"/>
      <h6>tiempo</h6>
      <p>{{post.tiempo}}</p>
    </div>
     <div class="card">
      <img src="{% static 'Home/img/recetas/calorias.png'%}"/>
      <h6>calorias</h6>
      <p>{{post.calorias}}</p>
    </div>
    <div class="card">
      <img src="{% static 'Home/img/recetas/proteina.png'%}"/>
      <h6>proteinas</h6>
      <p>{{post.proteinas}}</p>
    </div>
    <div class="card">
      <img src="{% static 'Home/img/recetas/grasas.png'%}"/>
      <h6>grasas</h6>
      <p>{{post.grasas}}</p>
    </div>
    <div class="card">
      <img src="{% static 'Home/img/recetas/azucar.png'%}"/>
      <h6>azucares</h6>
      <p>{{post.azucares}}</p>
    </div>
    <div class="card">
      <img src="{% static 'Home/img/recetas/salero.png'%}"/>
      <h6>sal</h6>
      <p>{{post.sal}}</p>
    </div>
  </div>
  <div id="body_pdf">
  <section class="contenedor">
    <div class="contenedor-recetas" alt="">
      <div class="row g-0 bg-light col-12 position-relative my-4">
    <img class="col-xs-10 col-md-6 p-4 m-2" src="{{post.thumbnail.url}}"/ >
  
  <div class="col-xs-11 col-md-5 p-3 m-2">
    <div class="contenido-ingredientes">
      <div id="pdf"><h2>ingredientes</h2><img id="descarga" src="{% static 'Home/img/recetas/pdf.png'%}"/></div>

     <ul>
      {% for values, key in ingredientes.items %}
        <li><span class="negrita">{{key}}</span>      {{values}}</li>
      {% endfor %}
      </ul>

    </div>
  </div>
  

 
  
</div>
      
  </div>
      <div class="contenido-preparacion">
        <h2>Preparación</h2>
          <p>{{post.contenido}}</p>
      </div>
  </section>
  </div>
</main>
<!--<div class="form-floating col-sm-10 col-md-8 col-lg-6">
  <label for="floatingTextarea">Calificar</label>
  <div id="calificacion">
    <img class="icons" src="{% static 'Home/img/recetas/estrella.png'%}">
    <img class="icons" src="{% static 'Home/img/recetas/estrella.png'%}">
    <img class="icons" src="{% static 'Home/img/recetas/estrella.png'%}">
    <img class="icons" src="{% static 'Home/img/recetas/estrella.png'%}">
    <img class="icons" src="{% static 'Home/img/recetas/estrella.png'%}">-->
    <h4>Comentarios</h4>
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Añadir comentario</button>
    {% else %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" disabled>Añadir comentario</button>
    {% endif %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mensaje nuevo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form id="msg" action = "/Blog/comentario/{{post.id}}/" method = "POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="body" class="col-form-label">Mensaje:</label>
            <textarea class="form-control" id="body" name="body"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button id="enviar" type="submit" class="btn btn-primary">Enviar</button>
      </div>
      </div>
      <div class="modal-footer">
        
        
      </div>
    </div>
  </div>
</div>
    {% if not post.comments.all %}
      No hay comentarios aun 
    {% else %}

    <br>
      {% for comment in post.comments.all %}
        <strong>{{comment.name}} - {{comment.date_added}}</strong>
        <br>
        {{comment.body}}
        <br>
      {%endfor%}
      
    {% endif %}
    <hr>
  </div>
</div>
  
<script>
  $( document).ready(function() {
    $('#enviar').click(function(){
      $('#msg').submit();
    })
    
    console.log( "ready!" );
    $( "#descarga" ).click(function() {
 const $elementoParaConvertir = document.querySelector('body');
// <-- Aquí puedes elegir cualquier elemento del DOM
html2pdf()
    .set({
        margin: 1,
        filename: 'documento.pdf',
        image: {
            type: 'jpeg',
            quality: 0.98
        },
        html2canvas: {
            scale: 3, // A mayor escala, mejores gráficos, pero más peso
            letterRendering: true,
        },
        jsPDF: {
            unit: "in",
            format: "a2",
            orientation: 'portrait' // landscape o portrait
        }
    })
    .from($elementoParaConvertir)
    .save()
    .catch(err => console.log(err))
    .finally()
    .then(() => {
        console.log ('guardado')
    });
});
  })
    
</script>
{% endblock %}
