
{% extends "Home/base.html" %}
{% load crispy_forms_tags %}
{% block title %} <U>Logear</U> {% endblock %}
{% load static %}


{% block content %}
 <!-- Leer los mensajes generados -->
{% if messages %}
          {% for msg in messages %}
        <div class="alert alert-danger" role="alert">
            {{msg}}
        </div>
          {% endfor %}
{% endif %}
<div class="col-md-6">
 <!--Tabla -->
    <form method="post" action="" >
        {% csrf_token %}
        {{frm|crispy}}
        <button type="submit" class="btn btn-success">Acceder</button>
    </form>
</div>
{% endblock %}
